.datosEmpleado{
    margin: 90px 40px 0 120px;
    overflow-y: scroll;
    width: 1280px;
}
.datosEmpleado::-webkit-scrollbar {
    display: none;
}
    .screenName{
        color: #223843;
        display: flex;
        align-items: center; 
    }
        .back {
            margin-right: 16px;
            height: 1.2rem;
            cursor: pointer;
        }
        .screenTitle{
            color: #223843;
            font-size: 32px;
            font-weight: 600;
        }
        
    .title{
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        color: #ff8000;
        font-size: 24px;
        font-weight: 400;
    }
        .datosPersonales, .contacto, .infoEmpleo, .dependienteInfo{               
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 2rem;
            width: 100%;
        }
        .rolDelegado{               
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2rem;
            width: 100%;
        }
            .columna{
                display: grid;
                font-size: 1.25rem;
                font-weight: 400;
            }
            .columnaDelegados{
                display: grid;
                font-size: 1.25rem;
                font-weight: 400;
            }
                label{
                    margin-bottom: 2rem;
                }
                input[type="text"]{
                    width: 100%;
                    height: 2.5rem;
                    border-radius: 0.5rem;
                    background: #F1F1F1;
                    padding-left: 8px;
                    color: #223843;
                    font-size: 1.25rem;
                    font-weight: 400;
                    margin-top: .5rem;
                    border: none;
                }
                    input[type="text"]:focus{
                        outline: none; 
                        border-radius: 0.5rem;
                        border: 1.5px solid #FF8000;
                    }

                input[type="date"]{
                    width: 100%;
                    height: 2.5rem;
                    border-radius: 0.5rem;
                    background: #F1F1F1;
                    padding-left: 8px;
                    color: #223843;
                    font-size: 1.25rem;
                    font-weight: 400;
                    margin-top: .5rem;
                    border: none;
                    padding-right: 10px;
                }
                    input[type="date"]:focus{
                        outline: none; 
                        border-radius: 0.5rem;
                        border: 1.5px solid #FF8000;
                    }

                select{
                    appearance: none;
                    width: 100%;
                    height: 2.5rem;
                    border-radius: 0.5rem;
                    padding-left: 8px;
                    color: #223843;
                    font-size: 1.25rem;
                    font-weight: 400;
                    margin-top: .5rem;
                    border: none;
                    background: URL(/src/assets/dropdown.svg) no-repeat 96% #F1F1F1;
                }
                    select:focus{
                        outline: none;
                        background: URL(/src/assets/dropup.svg) no-repeat 96% #F1F1F1;
                    }

                .checks{
                    margin-top: .5rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 2.5rem;
                }

                input[type="radio"]{
                    height: 1.5rem;
                    width: 1.5rem;
                }

        .uploadFoto{
            width: 100%;
            font-size: 1.25rem;
            font-weight: 400;
            align-items: center;
            position: relative;
            margin: 16px 0px 24px 0px;
        }
            input[type="file"]{
                margin-left: 1.5rem;
                width: 85.35%;
                height: 2.5rem;
                border-radius: 0.5rem;
                background-color: #F1F1F1;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
                input::file-selector-button {
                    margin: .3rem 1rem .3rem .35rem;
                    padding: 0.3em;
                    border: none;
                    border-radius: 0.5rem;
                    background: #BABABA;
                    color: #F1F1F1;
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 300;
                    font-family: Urbanist;
                }
                    input::file-selector-button:hover {
                        box-shadow: 0px 0px 10px 0px rgba(34, 56, 67, 0.45);
                        transition: all 0.5s ease;
                        font-weight: 500;
                    }

            input[type="tel"]{
                width: 100%;
                height: 2.5rem;
                border-radius: 0.5rem;
                background: #F1F1F1;
                padding-left: 8px;
                color: #223843;
                font-size: 1.25rem;
                font-weight: 400;
                margin-top: .5rem;
                border: none;
            }

            input[type="email"]{
                width: 100%;
                height: 2.5rem;
                border-radius: 0.5rem;
                background: #F1F1F1;
                padding-left: 8px;
                color: #223843;
                font-size: 1.25rem;
                font-weight: 400;
                margin-top: .5rem;
                border: none;
            }
            
            input[type="number"]{
                width: 100%;
                height: 2.5rem;
                border-radius: 0.5rem;
                background: #F1F1F1;
                padding-left: 8px;
                color: #223843;
                font-size: 1.25rem;
                font-weight: 400;
                margin-top: .5rem;
                border: none;
            }
                .numeroie{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 2.5rem;
                    width: 100%;
                    justify-content: space-between;
                    margin-bottom: 0 !important;     
                }
            input[type="time"]{
                width: 100%;
                height: 2.5rem;
                border-radius: 0.5rem;
                background: #F1F1F1;
                padding-left: 8px;
                color: #223843;
                font-size: 1.25rem;
                font-weight: 400;
                margin-top: .5rem;
                border: none;
            }
            .empty{
                height: 4.5rem;
            }
            input[type="submit"]{
                width: 14rem;
                height: 2.5rem;
                border-radius: 0.5rem;
                background: #4ec253;
                border: none;
                color: #FFF;
                font-size: 1.2rem;
                font-weight: 500;
                display: block;
                transform: translateX(-50%);
                left: 50%;
                position: relative;
                margin: 4rem 0 4rem 0;
            }

            input[type="submit"]:hover {
                background-color: #3a903e;
                cursor: pointer;
            }

            .areaP{ 
                margin-bottom: 2rem;
            }
            .dependiente{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding-right: 8px;
            }
            .botonAgregar{
                background-color: white;
                color: #223843;
                width: 230px;
                border: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 20px;
                font-weight: 300;
                justify-content: space-between;
            }
            .botonAgregar:hover {   
                font-weight: 400;
            }
            .iconoAgregar {
                
                border-radius: 100px;
            }
            
            .botonAgregar:hover .iconoAgregar {
                border-radius: 100px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ajustar valores según tus preferencias */
                transition: box-shadow 0.0001s ease-in-out; 
            }
            .motivoBaja{
                font-size: 20px;
            }
            .motivoBajaInput{
                height: 96px;
                resize: none;
                width: 100%;
                border-radius: 0.5rem;
                background: #F1F1F1;
                padding: 8px;
                color: #223843;
                font-size: 1.25rem;
                font-weight: 400;
                margin-top: .5rem;
                border: none;
            }

            .motivoBajaInput:focus{
                outline: none; 
                border-radius: 0.5rem;
                border: 1.5px solid #FF8000;
            }

            .delegadoForm{
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 32px;
                margin-top: 12px;
            }
            .delegadoCheck{
                margin-left: 16px;
            }
            .selectDelegado{
                appearance: none;
                width: 100%;
                height: 2.5rem;
                border-radius: 0.5rem;
                padding-left: 8px;
                color: #223843;
                font-size: 1.25rem;
                font-weight: 400;
                margin-top: .5rem;
                border: none;
                background: URL(/src/assets/dropdown.svg) no-repeat 97.5% #F1F1F1 !important;
            }
                .selectDelegado:focus{
                    outline: none;
                    background: URL(/src/assets/dropup.svg) no-repeat 97.5% #F1F1F1 !important;
                }