.container{
    overflow-y: scroll;
    width: 1280px;
}
.info__card {
    margin: 100px 40px 400px 120px;
    height: 140px;
    width: 33%;
    background-color: #F1F1F1;
    border-radius: 16px;
    padding: 16px;
    
}
.nameCard{
    font-size: 1.5rem;
    color: #6D6875;
}
.amount{
    font-size: 2.5rem;
    font-weight: 600;
    color: #6D6875;
    margin-top: 24px;
}