.buttons {
    margin: 90px 40px 24px 120px;
    overflow-y: scroll;
    width: 1300px;
    display: flex;
    padding: 8px 8px 8px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    .filter {
        background: none;
        border-radius: 8px;
        border: 0.8px solid #858585;
        padding-right: 8px;
        height: 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #858585;
        font-size: 13px;
        font-style: normal;
        letter-spacing: 0.50px;
    }
    .filter>img {
        padding: 10px 8px 12px 8px;
    }
    .new {
        border: none;
        width: 5rem;
        border-radius: 8px;
        background: #FF8000;
        height: 32px;
        color: #FFF;
        text-align: center;
        font-family: Urbanist;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;
        padding: 0 8px 0 8px;
        margin-right: 24px;
    }
    .search {
        border-radius: 8px;
        background: #F1F1F1;
        height: 32px;
        border: none;
        background: url('../../assets/loupe.svg') no-repeat scroll 10px 10px #F1F1F1;
        padding-left: 32px;
        font-size: 14px;
    }
    input[type="text"]:focus{
        border: 1.5px solid #FF8000;
    }